@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Document: common.css*/ 
 
body, td {
	font-family: 'Poppins', Arial, sans-serif;  
	font-size: 15px;
	line-height: 1.5;
	color: #565656;
}
body.page {
	background: #fff;
}
/* Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {/* color: #11243E;*/
}
h1 {
	font-size: 3em;
	margin-bottom: .5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}
/* Lists
-------------------------------------------------------------- */

li ul, li ol {
	margin: 0;
}
ul, ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
dl {
	margin: 0 0 1.5em 0;
}
dl dt {
	font-weight: bold;
}
dd {
	margin-left: 1.5em;
}
/* Misc classes
-------------------------------------------------------------- */
.L {
	float: left;
}
.R {
	float: right;
}
.row {
	width: 100%;
	float: left;
	clear: both;
}
.row::after {
	content: "";
	clear: both;
	display: block;
}
.clear {
	width: 100%;
	clear: both;
}
.dotLine {
	background: url(../images/dot.gif) 0 0 repeat-x;
}
.box {
	width: 100%;
	float: left;
	border: #eee 1px solid;
	padding: 20px;
	border-radius: 6px;
}
.redMsg {
	display: block;
	clear: both;
	color: #FFF;
	border-radius: 3px;
	background: #B81900 url("../js/jquery_ui/images/ui-bg_diagonals-thick_18_b81900_40x40.png") repeat scroll 50% 50%;
}
.redMsg span {
	display: block;
	padding: 10px 0px 10px 35px;
	background: transparent url("../images/error_small.png") no-repeat scroll 10px 12px;
}
.redMsg a {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
.redMsg .button {
	text-decoration: none;
}
.errorMsg {
	width: 100%;
	float: left;
	text-align: left;
	clear: both;
	background: #FFEADE url(../images/error.png) 10px 4px no-repeat;
	color: #C03D46;
	font-weight: bold;
	border: #FFDFCD 1px solid;
	border-right: 0px;
	border-left: 0px;
	margin-bottom: 1px;
	position: relative;
}
.msg {
	width: 100%;
	float: left;
	text-align: left;
	clear: both;
	background: #D2F1C7 url(../images/tick-small.png) 15px 10px no-repeat;
	color: #159305;
	border: #C7E8BA 1px solid;
	border-right: 0px;
	border-left: 0px;
	margin-bottom: 1px;
	position: relative;
}
.msg span.t, .errorMsg span.t {
	width: auto;
	float: left;
	padding: 10px 50px;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.msg h3, .errorMsg h3 {
	font-size: 14px;
	padding: 0;
	margin: 0;
}
.msg span.c, .errorMsg span.c {
	width: 20px;
	height: 20px;
	padding: 5px;
	color: #000;
	cursor: pointer;
	/*float: right;*/
	display: block;
	position: absolute;
	right: 5px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="phone"], input[type="url"], textarea, select {
	padding: 10px 24px 10px 15px;
	outline: medium none;
	font-size: 15px;
	color: #909090;
	margin: 0px;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	background-color: #FCFCFC;
	font-weight: normal;
	border: 1px solid #BFBDBD;
	vertical-align: middle;
	line-height: 20px;
}
select {
	padding: 8px 25px 8px 15px;
	box-shadow:rgba(0,0,0,.2) 0 2px 2px -1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1.6;
	background: #fafafa url("../images/select_arrow.gif") no-repeat right 50%;
	border-radius: 0px;
	text-overflow: '';
	text-indent: 0.01px;
}
.input {
	background: #fff;
	background-position: 0 50%;
	padding: 10px 24px 10px 15px;
	border-bottom: #ddd 1px solid;
	border-left: #ddd 1px solid;
	border-top: #BFBDBD 1px solid;
	border-right: #BFBDBD 1px solid;
	border-radius: 0;
	box-shadow:rgba(0,0,0,.2) 0 2px 2px -1px;
	color: #7F7F7F;
	vertical-align: middle;
	transition: all ease-in-out 300ms 0s;
}
 
 
::-ms-expand {
display: none;
}
.input:hover {
	border: 1px solid #B9B9B9;
	border-top: 1px solid #A0A0A0;
}
.input:focus, select:focus {
	border: 1px solid #9F9F9D;
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	box-shadow:rgba(0,0,0,.6) 2px 2px 6px -3px inset;
	color: #000000;
}
/*****Using in form validation. js/validate.js*****/ 
input.error, input.ajaxerror, textarea.error, select.error {
	border: #F38A8A 1px solid;
	background: #FFE7E7 url(../images/error_small.png) 5px center no-repeat;
}
textarea.error {
	background-position: 0 10px;
}
input.disabled {
	background: #F3F3F3;
}
.noBorder {
	border: 0px;
}
form span.charsLimit {
	width: 95%;
	display: block;
	font-size: 11px;
	line-height: 18px;
	padding: 5px 0 10px 0;
}
form .ajax_submitter, form #hform {
	background: #fff url(../images/processing.gif) center bottom no-repeat;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	opacity: .5;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
}
.processing {
	text-align: center;
	padding: 40px 0;
	background: url(../images/processing.gif) center 5px no-repeat;
}
.ajax_process {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/loading-small.gif) center center no-repeat;
}
.loader {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #fff url(../images/loading.gif) center center no-repeat;
}
.captcha_img {
	vertical-align: middle;
	border-radius: 2px;
}
.inputLoader {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.hide {
	display: none; /*Do not delete.*/
}
/*Font sizes*/
.fontsize11 {
	font-size: 11px;
	line-height: 1.2;
}
.fontsize12 {
	font-size: 12px;
	line-height: 1.2;
}
.fontsize13 {
	font-size: 13px;
	line-height: 1.2;
}
.fontsize14 {
	font-size: 14px;
	line-height: 1.5;
}
.fontsize16 {
	font-size: 16px;
	line-height: 1.4;
}
.fontsize18 {
	font-size: 18px;
	line-height: 1.5;
}
.fontsize20 {
	font-size: 20px;
	line-height: 1.5;
}
.fontsize24 {
	font-size: 24px;
	line-height: 1.5;
}
.fontsize30 {
	font-size: 30px;
	line-height: 1.5;
}
.fontsize36 {
	font-size: 36px;
	line-height: 1.5;
}
.fontsize48 {
	font-size: 48px;
	line-height: 1.5;
}
.text_align_left {
	text-align: left;
}
.text_align_right {
	text-align: right;
}
.text_align_center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.semi-bold {
	font-weight: 600;
}
.normal {
	font-weight: normal;
}
.capitalize {
	text-transform: capitalize;
}
.lowercasee {
	text-transform: lowercasee;
}
.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
/*Text color*/
.redText {
	color: #900 !important;
}
.blueText {
	color: #0646c5 !important;
}
.blackText {
	color: #000 !important;
}
.greenText {
	color: #448600 !important;
}
.grayText {
	color: #9b9b9b !important;
}
.whiteText {
	color: #fff !important;
}


/*Paddings*/
.padding10 {
	padding: 10px;
}
.padding20 {
	padding: 20px;
}
.padding30 {
	padding: 30px;
}
/*Buttons*/
.button {
	display: inline-block;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background: #0646c5;
	vertical-align: middle;
	cursor: pointer;
	transition: all ease-in-out 300ms 0s;
	font-weight: 600;
	/*white-space: nowrap;*/
	text-align: center;
	overflow: visible;
}
.button:hover {
	background: #023499;
	color: #fff;
}
.btn_green {
	background: #179135;
}
.btn_gray {
	background: #93959A;
}
.btn_red {
	background: #C90707;
}
.btn_skyblue {
	background: #16CAFC;
}
.btn_small {
	padding: 5px 10px;
}
/*-------------------------------------*/
/*.rating {
	width:100px;
	display:inline-block;
	margin:0 8px 0 0;
	height:10px;
	background:url(../images/rating.gif) 0 0 no-repeat;
	vertical-align:middle;
	overflow:hidden;
}
.rating span {
	display:block;
	height:10px;
	background:url(../images/rating.gif) 0 -10px no-repeat;
}*/


span.rating {
	display: inline-block;
	width: 100px;
	height: 20px;
	background: url(../images/rating.png) 0 -20px no-repeat;
	margin-right: 10px;
}
span.rating span {
	display: inline-block;
	height: 20px;
	background: url(../images/rating.png) 0 0 no-repeat;
}
/*-------------------------------------*/
body .ui-tooltip {
	background: #000;
	padding: 8px 10px 8px 10px;
	margin: 0;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	z-index: 999999999999999999999999;
	box-shadow: rgba(0,0,0,.5) 2px 3px 3px -1px;
}
body .ui-tooltip {
	border: 0px !important;
}
body .ui-tooltip h3 {
	font-size: 14px;
	line-height: 20px;
}
body .ui-widget {
	font-family: inherit;
}


/*CSS ANIMATION{---------------------START*/
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/		
@-webkit-keyframes blinker {
 from {
 opacity: 1.0;
}
 to {
 opacity: 0.0;
}
}
.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}
.blink:hover {
	-webkit-animation-name: none;
	color: black;
}
/*CSS ANIMATION---------------------}END*/

/*Responsive 12 column Grid-View*/ 


.grid-1 {
	width: 8.33%;
}
.grid-2 {
	width: 16.66%;
}
.grid-3 {
	width: 25%;
}
.grid-4 {
	width: 33.33%;
}
.grid-5 {
	width: 41.66%;
}
.grid-6 {
	width: 50%;
}
.grid-7 {
	width: 58.33%;
}
.grid-8 {
	width: 66.66%;
}
.grid-9 {
	width: 75%;
}
.grid-10 {
	width: 83.33%;
}
.grid-11 {
	width: 91.66%;
}
.grid-12 {
	width: 100%;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	box-sizing: border-box;
	float: left;
}

@media (max-width: 480px) {
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	width: 100%;
	margin: 0 0 15px 0;
}
}
