#stickybar {
	width:100%;
 	height:60px;
	background:#fff;
   	position:fixed;
    top:0;
    left:0;
	z-index:99;
	border-bottom:#ccc 1px solid;
 	box-shadow: rgba(0,0,0,.4) 0 0 3px 0;
  	overflow:hidden;
}
#stickybar .fw_left {
	width:auto;
	float:left;
}
#stickybar .fw_logo {
	width:60px;
 	height:60px;
 	float:left;
 	padding:0;
 }
#stickybar .fw_logo img {
	margin:0;
	padding:0;
}
#stickybar .fw_menu {
	width:auto;
	float:left;
	padding:15px 0 20px 8px;
	margin:0px;
 	list-style-type:none;
 }
#stickybar .fw_menu li {
	display:inline;
	padding:0 10px 0 10px;
}
#stickybar .fw_menu li a {
	display:inline;
	color:#000;
 	font-weight:bold;
	text-decoration:none;
}
#stickybar .fw_menu li a:hover { color:#003;
 }
#stickybar .fw_right {
	width:auto;
	float:right;
	padding:10px 0 0 0;
}
 
/*#stickybar .fw_right a {
	display:block;
	float:left;
	width:110px;
	text-align:center;
	background:#379B52 url(../images/green-bg.gif) 0 0 repeat-x;
	font-size:14px;
	line-height:32px;
	color:#fff;
	text-shadow:#197D9D 0 1px 0;
	border-radius:6px;
	text-decoration:none;
	transition:all linear 300ms;
}
#stickybar .fw_right a:hover {
	color:#fff;
	background:#434954 url(../images/green-bg.gif) 0 -74px repeat-x;
	box-shadow:#5ACCF1 0 0 20px 0;
	transition:all linear 300ms;
}*/
 
